<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Repeat Caller</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/siteStyle")
    @Scripts.Render("~/scripts/Web")
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        Html.RenderPartial("_Header");
    }

    <div @Html.Raw((User.Identity.IsAuthenticated) ? "class='container body-content' id='mycontent'" : "")>
        @RenderBody()
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        Html.RenderPartial("_Footer");
    }
    @RenderSection("scripts", required: false)
</body>
</html>